doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title The Strawhats
    link(rel="stylesheet", href="/styles/style.css")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
    link(rel="manifest" href="/images/favicon/site.webmanifest")
  body 
  header 
    a(href="/").heading
      img.logo(src="/images/jolly-roger.png", alt="Strawhats jolly roger")
      h1 The Strawhats
    section.user-controls 
      if currentUser 
        a(href="/message/create") Create Message
        div.user-details
          h3(class=(currentUser.is_admin ? 'admin-class' : currentUser.is_member ? 'member-class' : '')) Welcome, #{currentUser.username}
          div.user-details-links 
            a(href="/user/logout") Logout
            if !currentUser.is_member
              a(href="user/join-club") Join Secret Club
            if currentUser.is_admin 
              a(href=currentUser.url) Dashboard 
      else 
        div.user-details
          h3 Welcome
          div.user-details-links
            a(href="/user/login") LogIn 
            a(href="/user/signup") Sign Up  
  main 
    block content
  footer 
    p Project by Ashish-Krishna-K
